@inherits LayoutComponentBase
@inject EdgarJairVazquezVillarreal.Services.ThemeService ThemeApp

<div class="page">
    <!-- El sidebar siempre es oscuro independientemente del tema global -->
    <div class="sidebar" data-bs-theme="dark">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Lee el tema desde localStorage y aplica data-bs-theme al elemento <html>
        await ThemeApp.InitializeAsync();
    }
}
